<!-- 
Title: Hive Tumor
Used In File(s): \code\game\gamemodes\broodswarm\hive\hive_tumor.dm
-->

<div class="item">
	<div class="itemLabel">
	  <span class='average'><b>Structure Count</b>:</span>
	</div>
	<div class="itemContent">
	  {{:data.structure_count}} / {{:data.max_structures}}
	</div>
	<div class="itemLabel">
	  <span class='average'><b>Flesh</b>:</span>
	</div>
	<div class="itemContent">
	  {{:data.brood_flesh}}
	</div>
	<div class="itemLabel">
	  <span class='average'><b>Flesh</b>:</span>
	</div>
	<div style="min-width: 480px">
		<h3>Create Hive Structure</h3>
		{{:helper.link('Hive Pit', 'eject', {'hive_pit' : 1}, null )}}
	</div>
</div>
