<div class="item">
	<div class="itemLabel">
		<span class="orange">Structural Damages :</span>
	</div>
	<div class="itemContent">
		<span class="brute">${{:data.structural}} Thaller</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Crew Deaths :</span>
	</div>
	<div class="itemContent">
		<span class="brute">{{:data.deaths}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Waiting for Doors :</span>
	</div>
	<div class="itemContent">
		<span class="brute">{{:data.doors}} seconds</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Crew Ran :</span>
	</div>
	<div class="itemContent">
		<span class="good">{{:data.ran}} marathons</span>
	</div>
</div>




<div class="item">
	<div class="itemLabel">
		<span class="orange">Clones : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.clone}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Bombs Exploded : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.bombs}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Junk Vended : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.junk}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Monkeys Killed : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.mkilled}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Slip Ups : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.slips}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Weapons Fired : </span>
	</div>
		<div class="itemContent">
		<span class="brute">{{:data.shots}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Chemicals Vended : </span>
	</div>
		<div class="itemContent">
		<span class="good">{{:data.chems}}L</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Spam Blocked : </span>
	</div>
		<div class="itemContent">
		<span class="good">{{:data.spam}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Blood Mopped : </span>
	</div>
		<div class="itemContent">
		<span class="good">{{:data.blood}}L</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">Beepsky Beatings : </span>
	</div>
		<div class="itemContent">
		<span class="good">{{:data.beepsky}}</span>
	</div>
</div>



<div class="item">
	<div class="itemLabel">
		Crew Productivity :
	</div>
	<div class="itemContent">
		<span class="good">{{:data.productivity}}%</span>
	</div>
</div>