<div class="item">
	<div class="itemLabel">
		{{:data.productivity_desc}}
	</div>
	<div class="itemContent">
		<span class="average">{{:data.productivity}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">{{:data.structural_desc}}</span>
	</div>
	<div class="itemContent">
		<span class="brute">${{:data.structural}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		<span class="orange">{{:data.deaths_desc}}</span>
	</div>
	<div class="itemContent">
		<span class="brute">{{:data.deaths}}</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.clones_desc}}
	</div>
	<div class="itemContent">
		<span class="good">{{:data.clones}} clones</span>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_0_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_0}}{{:data.stat_0_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_1_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_1}}{{:data.stat_1_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_2_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_2}}{{:data.stat_2_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_3_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_3}}{{:data.stat_3_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_4_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_4}}{{:data.stat_4_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_5_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_5}}{{:data.stat_5_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_6_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_6}}{{:data.stat_6_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_7_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_7}}{{:data.stat_7_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_8_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_8}}{{:data.stat_8_unit}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		{{:data.stat_9_desc}}
	</div>
	<div class="itemContent">
		{{:data.stat_9}}{{:data.stat_9_unit}}
	</div>
</div>