
<!-- 
Title: Syndicate Uplink, uses some javascript to change nanoUI up a bit.
Used In File(s): \code\game\objects\items\devices\uplinks.dm
 -->
{{:helper.syndicateMode()}}
<div class="item">
    {{:helper.link('Bulletin Board', 'note', {'menu' :'contracts'}, null, data.menu == 'contracts' ? 'selected' : null)}}
    {{:helper.link('Your Contracts', 'note', {'menu' : 'mycontracts'}, null, data.menu == 'mycontracts' ? 'selected' : null)}}
    {{:helper.link('Equipment', 'suitcase', {'menu' : 'equipment'}, data.menu == 'equipment' ? 'selected' : null)}}
    {{:helper.link('Information', 'contact', {'menu' : 'info'}, data.menu == 'info' ? 'selected' : null)}}
    {{:helper.link('Close', 'power', {'lock' : "1"}, null)}}
</div>
<hr>
	
{{if data.menu == 'contracts'}}
    <H3><span class="white">Contract Dick</span></H3>
    <hr>
    {{for data.uplink_contracts}}
        <div class="item">
            <b>{{value.title}}</b>
            <i>{{value.desc}}</i>
            <span class="white">Expires in:</span>
            {{:helper.contractTime(value.contract_start, data.curtime, value.time_limit)}}
            {{:helper.link('Accept Contract', 'note', {'accept_contract' : value}, null)}}
        </div>
    {{/for}}
{{else data.menu == 'mycontracts'}}
    <H3><span class="white">My Contracts</span></H3>
    <hr>
{{else data.menu == 'equipment'}}
    <H3><span class="white">Uplink Market</span></H3>
    <span class="white"><i>Purchase quality equipment for cheap to enhance your chances of success in the field.</i></span>
	<div class="item">
        <div class="itemLabel">
            <b>Tele-Crystals</b>:
        </div>
        <div class="itemContent">
            {{:data.crystals}}
        </div>
    </div>
    <br>
    {{for data.nano_items}}
        <div class="item">
            <H3><span class="white">{{:value.Category}}</span></H3>
        </div>
        {{for value.items :itemValue:itemIndex}}
            <div class="item">
                {{:helper.link( itemValue.Name, 'gear', {'buy_item' : itemValue.obj_path, 'cost' : itemValue.Cost}, itemValue.Cost > data.crystals ? 'disabled' : null, null)}} - <span class="white">{{:itemValue.Cost}}</span>
            </div>
        {{/for}}
        <br>
    {{/for}}

    <div class="item">
        {{:helper.link('Buy Random (??)' , 'gear', {'buy_item' : 'random'}, data.crystals <= 0 ? 'disabled' : null, null)}}
    </div>
{{else data.menu == 'info'}}
    <H3><span class="white">Information Records</span></H3>
    <div class="item">
        Select a Record
    </div>
    <br>
    {{for data.exploit_records}}
        <div class="item">
             {{:helper.link(value.Name, 'gear', {'menu' : 11, 'id' : value.id}, null, null)}}
        </div>
    {{/for}}

<!--
{{else data.menu == 11}}
    <H2><span class="white">Information Record:</span></H2>
    <br>
    <div class="statusDisplayRecords">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                {{if data.exploit_exists == 1}}
                    <span class="good">Name:		</span> <span class="average">{{:data.exploit.name}}		</span><br>
                    <span class="good">Sex:			</span> <span class="average">{{:data.exploit.sex}}			</span><br>
                    <span class="good">Species:		</span> <span class="average">{{:data.exploit.species}}		</span><br>
                    <span class="good">Age:			</span> <span class="average">{{:data.exploit.age}}			</span><br>
                    <span class="good">Rank:		</span> <span class="average">{{:data.exploit.rank}}		</span><br>
					<span class="good">Home System:	</span> <span class="average">{{:data.exploit.home_system}}	</span><br>
					<span class="good">Citizenship:	</span> <span class="average">{{:data.exploit.citizenship}}	</span><br>
					<span class="good">Faction:		</span> <span class="average">{{:data.exploit.faction}}		</span><br>
					<span class="good">Religion:	</span> <span class="average">{{:data.exploit.religion}}	</span><br>
                    <span class="good">Fingerprint:	</span> <span class="average">{{:data.exploit.fingerprint}}	</span><br>

                    <br>Acquired Information:<br>
                    <span class="good">Notes:<br>	</span> <span class="average">{{:data.exploit.nanoui_exploit_record}}</span><br><br>
                {{else}}
                    <span class="bad">
                        No exploitative information acquired!
                        <br>
                        <br>
                    </span>
                {{/if}}
            </div>
        </div>
    </div>
-->
{{/if}}
